{{page-title "Ember Animations Workshop"}}

<main>
  <header class="header">
    <h1>Ember Animations Workshop</h1>
    <NotificationDropdown />
  </header>

  {{outlet}}

  {{#if this.player.album}}
    <NowPlaying />
  {{/if}}
</main>